{{ define "login" }}
{{ template "head" . }}
<div class="auth">
    <div class="container" id="login">
        <h1>Log in</h1>

        {{ range $message := .Messages }}
        <div class="{{ $message.Type }}">{{ $message.Text }}</div>
        {{ end }}

        <form method="{{ .Method }}" action="{{ .Action }}">
            {{ range $node := .UiNodes }}
            {{ if eq $node.Type "submit" }}
            <button type="submit" name="{{ $node.Name }}" value="{{ $node.Value }}">{{ $node.Label }}</button>
            {{ else }}
            <label>
                {{ if $node.Label }}
                {{ $node.Label }}
                {{ end }}
                <input type="{{ $node.Type }}" name="{{ $node.Name }}" value="{{ $node.Value }}" />
            </label>
            {{ end }}
            {{ end }}
        </form>

            <p>Forget your password? Click <a href="/k/recovery">here</a> to recover your account</p>
    </div>
</div>
{{ template "foot" . }}
{{ end }}