<!--
  ~ This file is part of Refractor.
  ~
  ~ Refractor is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

{{ define "login" }}
{{ template "head" . }}

<div class="auth">
    <div class="container" id="login">
        <h1>Log in</h1>

        {{ range $message := .Messages }}
        <div class="{{ $message.Type }}">{{ $message.Text }}</div>
        {{ end }}

        <form method="{{ .Method }}" action="{{ .Action }}">
            {{ range $node := .UiNodes }}
            {{ if eq $node.Type "submit" }}
            <button type="submit" name="{{ $node.Name }}" value="{{ $node.Value }}">{{ $node.Label }}</button>
            {{ else }}
            <label>
                {{ if $node.Label }}
                {{ $node.Label }}
                {{ end }}
                <input type="{{ $node.Type }}" name="{{ $node.Name }}" value="{{ $node.Value }}" />
            </label>
            {{ end }}
            {{ end }}
        </form>

            <p>Forget your password? Click <a href="/k/recovery">here</a> to recover your account</p>
    </div>
</div>
{{ template "foot" . }}
{{ end }}