<!--
  ~ This file is part of Refractor.
  ~
  ~ Refractor is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

{{ define "setupcomplete" }}
{{ template "head" . }}
<div class="container">
    <h1>You're all set.</h1>

    <a href="http://127.0.0.1:3000">Click here to start using Refractor</a>
</div>
{{ template "foot" . }}
{{ end }}